@import url(../../assets/styles/style.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);



.head-row {
    padding: 25px 0 50px;
    background-color: #FDFDFF;
}
.breadcrumbs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
}
.breadcrumbs li a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    text-decoration: underline;
    color: var(--blue);
    display: block;
}
.breadcrumbs li svg {
    margin-top: 5px;
}
.breadcrumbs .last-breadcrumb a {
    color: #8D8D98;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    display: block;
}
.head-row h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 250;
    line-height: 100%;
    color: var(--blue);
}
.filter {
    padding: 50px 0;
    background-color: var(--blue);
}
.filter .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.regions {
    border-radius: 10px;
    border: 1px solid #C6CAE2;
    background: #FFF;
    padding: 20px;
    position: relative;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.regions p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.regions p::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23484848' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
}

.regions-list {
    display: flex;
    width: 353px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}
.regions:hover .regions-list {
    visibility: visible;
    opacity: 1;
}
.regions-list li {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.regions-list li::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 21C10.7369 19.9227 9.56619 18.7416 8.5 17.4691C6.9 15.5581 5 12.712 5 10.0001C4.99858 7.1676 6.70425 4.61344 9.32107 3.52945C11.9379 2.44545 14.9501 3.04529 16.952 5.04905C18.2685 6.35966 19.0059 8.14244 19 10.0001C19 12.712 17.1 15.5581 15.5 17.4691C14.4338 18.7416 13.2631 19.9227 12 21ZM12 5.00005C9.23995 5.00336 7.00331 7.24 7 10.0001C7 11.166 7.527 13.1851 10.035 16.1861C10.6531 16.9241 11.309 17.6297 12 18.3001C12.691 17.6305 13.3472 16.9259 13.966 16.1891C16.473 13.1841 17 11.1651 17 10.0001C16.9967 7.24 14.7601 5.00336 12 5.00005ZM12 13.0001C10.3431 13.0001 9 11.6569 9 10.0001C9 8.3432 10.3431 7.00005 12 7.00005C13.6569 7.00005 15 8.3432 15 10.0001C15 10.7957 14.6839 11.5588 14.1213 12.1214C13.5587 12.684 12.7957 13.0001 12 13.0001Z' fill='%238AB73A'/%3E%3C/svg%3E");
    display: block;
}
.regions-list li:hover {
    color: var(--green);
}
.filter-field {
    position: relative;
    min-width: 400px;
}
.filter-field input {
    display: flex;
    height: 64px;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 624px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #C6CAE2;
    background: #FFF;
    width: 100%;
    outline: none;
}
.filter-field .search-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
}
@media (max-width:1450px) {
    .filter .content {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}
@media (max-width:768px) {
    .filter-field {
        width: 90%;
    }
    .regions-list {
        width: 100%;
    }
    .regions {
        width: 100%;
    }
}


.sort {
    padding: 50px 0;
    background-color: #F8F9FF;
}
.sort .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort-col  {
    display: flex;
    align-items: center;
    gap: 30px;
}
.sort-col p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    text-transform: uppercase;
    color: var(--gray);
}
.products-cards {
    padding-top: 50px;
    margin-top: 0;
}
.catalog-body {
    background-color: #F8F9FF;
}
.sort-style-btn.active svg path {
    stroke: var(--green);
}

.product-row-card {
    width: 100%;
    display: flex;
    padding: 30px 50px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #F8F9FF;
    box-shadow: 0px 4px 14px -6px rgba(0, 0, 0, 0.25);
    align-items: center;
    gap: 50px;
}
.product-row-card .product-image {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    margin-right: 50px;
    margin-bottom: 0;
}
.product-row-card .product-column{
    padding: 50px 0;
    max-width: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-row-card .product-column .product-card-row{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    margin: 0;
}
.product-row-card .product-name {
    margin: 0;
}
.product-row-card .product-descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--gray);
}
.product-row-card .product-col {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}
.product-quantity {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.product-quantity span:first-child , .product-quantity span:last-child {
    width: 32px;
    height: 32px;
    background-color: #DEE2F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}
.product-quantity span:first-child::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Crect width='32' height='32' rx='16' fill='none'/%3E%3Cpath d='M12 16H20' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;
    margin-top: 5px;
    
}
.product-quantity span:last-child::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 1L5 9' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 5H9' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;
}
.product-quantity span:first-child:hover , .product-quantity span:last-child:hover {
    background-color: #9FAAE9;
}
.product-quantity span:first-child:hover::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Crect width='32' height='32' rx='16' fill='none'/%3E%3Cpath d='M12 16H20' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;
    margin-top: 5px;

}
.product-quantity span:last-child:hover::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 1L5 9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 5H9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;

}
.product-quantity span:nth-child(2) {
    color: #484848;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
}
.product-row-card .product-col .btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-row-card .product-col .btn-1:hover svg path {
    fill: #fff;
}
