@import url(./style.css);

.footer {
    padding: 150px 0 50px;
    background-color:#F8F9FF;
    color: var(--gray);
}
.footer-row:first-child {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}
.footer-row:first-child ul {
    display: flex;
    gap: 20px;
}
.footer-row:nth-child(2) {
    display: flex;
}
.footer-col {
    padding: 0 50px;
    border-right: 1px solid #E5E7F4;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-col:first-child {
    padding-left: 0;
}
.footer-col:last-child {
    padding-right: 0;
    border-right: 0;
}
.footer-col li , .footer-col li a , .footer-col li span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
}
.footer-col li:first-child {
    color: #C6CAE2;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.footer-col li , .footer-col li a {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-col .footer-phone a {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.footer-col:nth-child(2) , .footer-col:nth-child(3) {
    max-width: 358px;
    width: 100%;
}
.footer-qr {
    border: 1px solid #C6CAE2;
    background: #FFF;
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
}
.footer-line {
    width: 100%;
    height: 1px ;
    background: #C6CAE2;
    margin: 50px 0;
}
.footer-info {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.footer-info p {
    color: #8D8D98;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@media (max-width:1368px) {
    .footer-col {
        padding: 0 30px;
    }
    .footer-col:nth-child(2) , .footer-col:nth-child(3) {
        max-width: 300px;
        width: 100%;
    }
}
@media (max-width:1200px) {
    .footer-row:nth-child(2) {
        flex-direction: column;
        gap: 30px;
    }
    .footer-col:nth-child(2) , .footer-col:nth-child(3) {
        max-width: 100%;
        width: 100%;
    }
    .footer-col {
        padding: 0;
        border: none;
    }
}
@media (max-width:768px)  {
    .footer-row:first-child {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
    .footer {
        padding: 50px 0 0;
    }
    .footer-info {
        padding: 0 0 50px;
    }


}