@import url(./style.css);

.header {
    width: 100%;
}
.header-row:first-child {
    width: 100%;
    background-color: var(--dark-bg);
}
.header-row-inner {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.el-torg {
    padding: 10px 20px;
    background-color:#4F4F59;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}
.el-torg svg {
    width: 24px;
    height: 24px;
}
.el-torg span {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.el-torg:hover {
    transition: .3s ease;
    background-color: var(--blue);
}
.el-torg:hover svg path{
    fill: #ffffff;
    transition: .3s ease;
}
.phone-wrap {
    display: flex;
    align-items: center;
}
.phone-wrap li {
    height: 100%;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.phone-wrap li a {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}
.phone-link {
    position: relative;
}
.phone-wrap .phone-link .phone-content {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background-color: var(--blue);
    opacity: 0;
    visibility: hidden;
}
.phone-wrap .phone-link  .phone-content li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.phone-link:hover {
    background-color: var(--blue);
}

.phone-link:hover .phone-content {
    opacity: 1;
    visibility: visible;
}
.lang {
    position: relative;
}
.lang:hover {
    background-color: var(--blue);
}
.lang.active {
    background-color: var(--green);
}
.lang-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
}
.lang:hover .lang-content {
    opacity: 1;
    visibility: visible;
}
.eye-type a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye-type.active {
    background-color: var(--blue);
}
.phone-dropdown {
    display: flex;
    align-items:center;
    gap: 10px;
}
.phone-dropdown::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.9996 15.4817V17.5893C19.0004 17.7849 18.9602 17.9786 18.8817 18.1578C18.8031 18.3371 18.6879 18.498 18.5435 18.6303C18.399 18.7626 18.2285 18.8633 18.0428 18.9259C17.8571 18.9886 17.6603 19.0119 17.465 18.9943C15.299 18.7594 13.2183 18.0207 11.3902 16.8376C9.68945 15.7589 8.24748 14.3198 7.16674 12.6224C5.9771 10.7897 5.23677 8.70306 5.00571 6.53156C4.98812 6.33729 5.01126 6.1415 5.07364 5.95664C5.13603 5.77178 5.2363 5.60191 5.36807 5.45785C5.49984 5.31378 5.66022 5.19868 5.839 5.11986C6.01779 5.04105 6.21106 5.00025 6.40651 5.00007H8.51826C8.85987 4.99671 9.19105 5.11744 9.45007 5.33976C9.70909 5.56208 9.87828 5.87081 9.92609 6.20841C10.0152 6.88287 10.1805 7.54511 10.4188 8.18249C10.5135 8.43394 10.534 8.70721 10.4779 8.96993C10.4218 9.23265 10.2913 9.4738 10.1021 9.66481L9.20809 10.557C10.2102 12.3158 11.6693 13.7721 13.4316 14.7721L14.3256 13.8799C14.517 13.6911 14.7586 13.5609 15.0218 13.5049C15.2851 13.4488 15.5589 13.4693 15.8108 13.5638C16.4495 13.8016 17.113 13.9666 17.7888 14.0556C18.1308 14.1037 18.4431 14.2756 18.6663 14.5386C18.8895 14.8015 19.0081 15.1372 18.9996 15.4817Z' stroke='%238AB73A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 24px;
    height: 24px;
}
.phone-link:hover .phone-dropdown::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21.9999 16.92V19.92C22.0011 20.1985 21.944 20.4741 21.8324 20.7293C21.7209 20.9845 21.5572 21.2136 21.352 21.4018C21.1468 21.5901 20.9045 21.7335 20.6407 21.8227C20.3769 21.9119 20.0973 21.945 19.8199 21.92C16.7428 21.5856 13.7869 20.5341 11.1899 18.85C8.77376 17.3146 6.72527 15.2661 5.18993 12.85C3.49991 10.2412 2.44818 7.27097 2.11993 4.17997C2.09494 3.90344 2.12781 3.62474 2.21643 3.3616C2.30506 3.09846 2.4475 2.85666 2.6347 2.6516C2.82189 2.44653 3.04974 2.28268 3.30372 2.1705C3.55771 2.05831 3.83227 2.00024 4.10993 1.99997H7.10993C7.59524 1.9952 8.06572 2.16705 8.43369 2.48351C8.80166 2.79996 9.04201 3.23942 9.10993 3.71997C9.23656 4.68004 9.47138 5.6227 9.80993 6.52997C9.94448 6.8879 9.9736 7.27689 9.89384 7.65086C9.81408 8.02482 9.6288 8.36809 9.35993 8.63998L8.08993 9.90997C9.51349 12.4135 11.5864 14.4864 14.0899 15.91L15.3599 14.64C15.6318 14.3711 15.9751 14.1858 16.3491 14.1061C16.723 14.0263 17.112 14.0554 17.4699 14.19C18.3772 14.5285 19.3199 14.7634 20.2799 14.89C20.7657 14.9585 21.2093 15.2032 21.5265 15.5775C21.8436 15.9518 22.0121 16.4296 21.9999 16.92Z' stroke='%239CA2C8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 24px;
    height: 24px;
}
.phone-dropdown::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23979797' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.header-row:nth-child(2) {
    background-color:#F8F9FF;
    padding: 30px 0;
}
.header-field {
    position: relative;
    max-width: 731px;
    width: 100%;
}
.header-field input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #C6CAE2;
    background: #FFF;
    outline: none;
}
.header-field input::placeholder {
    color: var(--light-gray);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-field button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.header-field button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.link-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--light-gray);
}
.link-wrap svg {
    width: 24px;
    height: 24px;
}
.header-row:last-child .row-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown {
    display: flex;
}
.row-navigation .dropdown::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M6.33301 9L12.333 15L18.333 9' stroke='%23484848' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
.row-navigation .row-navigation-item {
    padding: 30px 25px;
    position: relative;
    cursor: pointer;
}
.row-navigation-item a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
}
.row-navigation .row-navigation-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 303px;
    border-radius: 0 0 10px 10px;
    background-color: var(--bg);
    opacity: 0;
    visibility: hidden;
}
.row-navigation .row-navigation-item:hover {
    background-color: var(--bg);
}
.row-navigation .row-navigation-item:hover .dropdown::after {
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M6.3335 15L12.3335 9L18.3335 15' stroke='%23484848' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") ;
    display: block;
    width: 24px;
    height: 24px;
}
.dropdown1:hover .dropdown-menu1 , .dropdown2:hover .dropdown-menu2 , .dropdown3:hover .dropdown-menu3 , .dropdown4:hover .dropdown-menu4 , .dropdown5:hover .dropdown-menu5{
    opacity: 1;
    visibility: visible;
}
.row-navigation .row-navigation-item .dropdown-menu li {
    padding: 25px;
    border-bottom: 1px solid #DEE2F6;
}
.row-navigation .row-navigation-item .dropdown-menu li:last-child {
    border: none;
}
.dropright-item {
    position: relative;
}
.dropright-list {
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 280px;
    padding: 30px 25px;
    border-radius: 0 0 10px 10px;
    background-color: var(--bg);
}
.dropright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropright::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23555E90' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
    width: 24px;
    height: 24px;
}
.dropright-item:hover  .dropright-list{
    opacity: 1;
    visibility: visible;
}



.mobile-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.burger {
    display: flex;
    outline: none;
    height: 30px;
    width: 30px;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
    position: inherit;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: #fff;
    margin-top: -1000px;
    padding: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.mobile-menu.active {
    opacity: 1;
    margin-top: 0;
}
.mobile-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-inner {
    display: flex;
    flex-direction: column;
    padding: 50px 0 42px;
    /* height: 100%; */
    flex-grow: 1;
}
.menu-close-icon {
    width: 35px;
    height: 35px;
}







@media (max-width:1500px) {
    .header-field {
        max-width: 500px;
    }
    .row-navigation .row-navigation-item {
        padding: 25px 15px;
    }
}
@media (max-width:1199px) {
    .header-desctop {
        display: none;
    }
}