@import url(./header.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease;
}
a {
    text-decoration: none;
}
ol, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
    --orange :#F79418;
    --green : #8AB73A;
    --light-green : #B0E453;
    --gray : #484848 ;
    --light-gray: #696969;
    --middle-gray : #898989;
    --blue :#555E90;
    --light-blue : #9CA2C8;
    --bg : #F8F9FF;
    --bg-2 : #C6CAE2;
    --pink: #D53692;
    --red: #E23C2B;
    --dark-bg : #2E2E39;
}
body {
    font-family: 'Rounded Mplus 1c' ;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
    overflow-x: hidden;
    position: relative;
    background: #fff;
    transition:  0.3s ease;
}
.content {
    max-width: calc(1440px + 16px * 2);
    padding: 0 16px;
    margin: 0 auto;
}