@import url(./header.css);
@import url(./footer.css);
@import url(./main-page.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease;
}
a {
    text-decoration: none;
}
ol, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rounded Mplus 1c';
    src: url(../fonts/MPLUSRounded1c-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
    --orange :#F79418;
    --green : #8AB73A;
    --light-green : #B0E453;
    --gray : #484848 ;
    --light-gray: #696969;
    --middle-gray : #898989;
    --blue :#555E90;
    --light-blue : #9CA2C8;
    --bg : #F8F9FF;
    --bg-2 : #C6CAE2;
    --pink: #D53692;
    --red: #E23C2B;
    --dark-bg : #2E2E39;
}
body {
    font-family: 'Rounded Mplus 1c' ;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
    overflow-x: hidden;
    position: relative;
    background: #fff;
    transition:  0.3s ease;
}
.content {
    max-width: calc(1440px + 16px * 2);
    padding: 0 16px;
    margin: 0 auto;
}

.btn-1 {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #DEE2F6;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--blue);
    background-color: transparent;
}
.btn-2 {
    display: flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}
.btn-3 {
    display: inline-flex;
    padding: 15px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-3 span {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9CA2C8;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-3.down span::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 8V16' stroke='%23555E90' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 12L12 16L8 12' stroke='%23555E90' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
}
.btn-3.active {
    border: 1px solid #DEE2F6;
}
.btn-3.active span {
    color: var(--blue);
}
.btn-3.up span::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 16V8' stroke='%23555E90' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 12L12 8L8 12' stroke='%23555E90' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
}
.btn-3:hover {
    background-color: #9CA2C8;
}
.btn-3:hover span {
    color: #fff;
}
.btn-3.down:hover span::after {
    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 8V16' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 12L12 16L8 12' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") ;
    display: block;
}
.btn-3.up:hover span::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 16V8' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 12L12 8L8 12' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: block;
}
.btn-3:hover span::after {
    stroke: #fff;
    fill: #fff;
}
.btn-1:hover , .btn-2:hover {
    color: #fff;
    background-color: #9FAAE9;
    transition: 0.0001s linear;
}
.btn-1:hover svg path {
    stroke: #fff;
}
.green-btn {
    display: inline-flex;
    padding: 20px 30px;
    align-items: center;
    gap: 80px;
    border-radius: 10px;
    background: #8AB73A;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.green-btn:hover {
    background: #B0E453;
}
.custom-checkbox {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.custom-checkbox .checkbox {
    margin-right: 10px;
}

.custom-checkbox input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #C6CAE2;
    border-radius: 2px;
}
.custom-checkbox span {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: none;
}
.custom-checkbox input:checked ~ .checkbox .checkmark {
    display: block;
}
.custom-checkbox input:checked ~ .checkbox {
    background: var(--green);
    border: 1px solid var(--green);
}



.products-cards , .grid-style {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 150px;
    row-gap: 50px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px; */

}
.product-card , .grid-card-style {
    width: 330px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #F8F9FF;
    box-shadow: 0px 4px 14px -6px rgba(85, 94, 144, 0.25);
    position: relative;
    max-height: 700px;
}
.product-card:hover {
    max-height: unset;
}
.product-card-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-card-row:first-child {
    height: 35px;
}

.product-code {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--gray);
}
.red-label {
    display: flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background-color: var(--red);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}
.green-label {
    display: flex;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: #8AB73A;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--gray);
    margin-bottom: 30px;
}
.product-image {
    border-radius: 500px;
    border: 0.1px solid #8AB73A;
    background: #FFF;
    width: 290px;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.product-price {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.product-price-old {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
    text-align: center;
}
.product-price-old span {
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: line-through;
    color: var(--red);
}
.product-price-new {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--gray);
    text-align: center;
}
.product-price-new span {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.product-row-card {
    width: 100%;
    display: flex;
    padding: 30px 50px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: #F8F9FF;
    box-shadow: 0px 4px 14px -6px rgba(0, 0, 0, 0.25);
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}
.product-row-card .product-image {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    margin-right: 50px;
    margin-bottom: 0;
}
.product-row-card .product-column{
    padding: 50px 0;
    max-width: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product-row-card .product-column .product-card-row{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    margin: 0;
}
.product-row-card .product-name {
    margin: 0;
}
.product-row-card .product-descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: var(--gray);
}
.product-row-card .product-col {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}
.product-quantity {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.product-quantity span:first-child , .product-quantity span:last-child {
    width: 32px;
    height: 32px;
    background-color: #DEE2F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

}
.product-quantity span:first-child::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Crect width='32' height='32' rx='16' fill='none'/%3E%3Cpath d='M12 16H20' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;
    margin-top: 5px;

}
.product-quantity span:last-child::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 1L5 9' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 5H9' stroke='%23484848' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;
}
.product-quantity span:first-child:hover , .product-quantity span:last-child:hover {
    background-color: #9FAAE9;
}
.product-quantity span:first-child:hover::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Crect width='32' height='32' rx='16' fill='none'/%3E%3Cpath d='M12 16H20' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;
    margin-top: 5px;

}
.product-quantity span:last-child:hover::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 1L5 9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 5H9' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    display: block;

}
.product-quantity span:nth-child(2) {
    color: #484848;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
}
.product-row-card .product-col .btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-row-card .product-col .btn-1:hover svg path {
    fill: #fff;
}
.hidden-row {
    height: 0px;
    overflow: hidden;
    margin: 30px 0 0;
}
.hidden-row .product-quantity {
    margin-bottom: 30px;
}
.product-order {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.product-order .btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-order .btn-1:hover svg path {
    fill: #fff;
}
.product-card:hover {
    z-index: 5;
}
.product-card:hover .hidden-row{
    height: auto;
}
.product-card:hover .product-image {
    border: 8px solid var(--green);
}
.product-card:hover .product-image img {
    transform: scale(1.2);
}
.product-row-card:hover {
    background: #fff;
}
.product-row-card:hover .product-image img {
    transform: scale(1.2);
}
.rows-style {
    display: none;
}
.grid-style {
    display: none;
}
.grid-style.active , .rows-style.active{
    display: flex;
}

.breadcrumbs {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
}
.breadcrumbs li a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    text-decoration: underline;
    color: var(--blue);
    display: block;
}
.breadcrumbs li svg {
    margin-top: 5px;
}
.breadcrumbs .last-breadcrumb a {
    color: #8D8D98;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    display: block;
}

.filter {
    padding: 50px 0;
    background-color: var(--blue);
}
.filter .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort {
    padding: 50px 0;
    background-color: #F8F9FF;
}
.sort .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort-col  {
    display: flex;
    align-items: center;
    gap: 30px;
}
.sort-col p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    text-transform: uppercase;
    color: var(--gray);
}
.products-cards {
    padding-top: 50px;
    margin-top: 0;
}
.catalog-body {
    background-color: #F8F9FF;
}
.sort-style-btn.active svg path {
    stroke: var(--green);
}
.controls {
    display: flex;
    padding: 50px 0px;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }

  .controls__page-number {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background: var(--pncolor);
    color: var(--blue);
    text-decoration: underline;
  }

  .controls__page-number_active {
    background-color: var(--blue);
    color: #fff;
  }
  .controls__page-number:hover {
    background: var(--green);
    color: #fff;
  }
  .controls__btn:hover svg path {
    fill:var(--green)
  }

@media (max-width:1200px) {
    .products-cards {
        margin-top: 50px;
        justify-content: center;
        gap: 30px;
    }
    .product-image {
        width: 200px;
        height: 200px;
    }
}
@media (max-width:600px) {
    .sort .content {
        flex-wrap: wrap;
        gap: 20px;
    }
    .sort-col p {
        display: none;
    }
    .controls {
        flex-wrap: wrap;
    }
}
@media (max-width:1450px) {
    .filter .content {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}
@media (max-width:768px) {
    .filter-field {
        min-width: 100px;
        width: 100%;
    }
    .filter-field input {
        width: 100%;
    }
    .regions-list {
        width: 100%;
    }
    .regions {
        width: 100%;
    }
}
@media (max-width:1200px) {
    .product-row-card {
        padding: 20px;
        gap: 20px;
    }
    .product-row-card .product-image {
        width: 200px;
        height: 200px;
        margin-right: 20px;
    }
    .product-row-card .product-column {
        gap: 15px;
    }
    .product-row-card .product-col {
        gap: 20px;
    }
}
@media (max-width:940px) {
    .product-row-card {
        padding: 30px 20px;
        flex-direction: column;
    }
    .product-row-card .product-col {
        margin-left: 0;
    }
    .product-row-card .product-column {
        align-items: center;
        justify-content: center;
    }
    .product-row-card .product-column .product-card-row {
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .product-row-card .product-descr , .product-row-card .product-name {
        text-align: center;
    }
    .product-row-card .product-card-row:first-child {
        height: auto;
    }
}
@media (max-width:768px) {
    .head-row h1 {
        font-size: 35px;
    }
    .regions-list {
        width: 100%;
    }
}
